
.contane-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.span-icon-contact{
    display: flex;
    align-items: center;
    justify-content: space-around;

    svg{
        width: 2.1rem;
        height: 2.1rem;
    }
    
}