.div-simple{
    width: 100%;
    margin: 0 0 .5rem 0;
    border-radius: 1rem;
    /* background-image: url(../src/assets/img/ilus01.png); */
    background-size: auto;
    background-position: center;

    h4{
        font-size: .8rem;
        font-weight: 600;
    }
    p{
        font-size: .7rem;
        font-weight: 400;
    }

    div{
        padding: .3rem;
    }
}