.div-simple{
    width: 100%;
    margin: 0 0 .5rem 0;
    border-radius: 1rem;
    background-color: #e1ce8a;
    background-size: auto;
    background-position: center;
    padding: .1rem;

    h4{
        font-size: .9rem;
        font-weight: 600;
        text-align: left;
        line-height: 1rem;
        margin-bottom: .5rem;
    }
    p{
        font-size: .8rem;
        font-weight: 400;
        text-align: justify;
        line-height: 1.2rem;
    }

    div{
        padding: 0.5rem;
    }
}