.container-faq {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.true-span-info-menu {
  position: absolute;
  top: .4rem;
  right: .4rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  svg {
    width: 2rem;
    height: 2rem;
  }

  &:hover {
    background-color: black;

    svg {
      fill: black;
      width: 100%;
      height: 100%;
      transition: .3s;

      &:hover {
        fill: orange;
      }
    }
  }
}

.div-tutorial {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .5rem;
}

.active-tutorial {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0;
  border: none;

  svg {
    width: 2rem;
    height: 2rem;
  }

  &:hover {
    background-color: black;

    svg {
      fill: black;
      width: 100%;
      height: 100%;
      transition: .3s;

      &:hover {
        fill: orange;
      }
    }
  }
}

.inactive-tutorial {
  background-color: #e1ce8a;
  border-radius: 1rem;
  width: 90%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0;
  border: none;

  svg {
    width: 2rem;
    height: 2rem;
  }

  &:hover {
    background-color: #e1ce8a;

    svg {
      fill: black;
      width: 90%;
      height: 90%;
      transition: .3s;

      &:hover {
        fill: black;
      }
    }
  }
}

.active-div-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e1ce8a;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.4s ease;

}

.active-div-modal .section-slider-container-active {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  transition-delay: 0.3s;
}

.inactive-div-modal {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s ease, visibility 0.4s;
}

.header-button {
  height: 3rem;
  width: 75%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 1rem;
  margin: 0 1rem;
}

.section-slider-container-active {
  width: 70%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.5s ease-in-out;
  pointer-events: none;
}

.section-slider-container-inactive{
  display: none;
}

.active-slide{
  display: none;
}

.div-duvidas{
  margin: 1rem 0 0 0;
}

.faq-email{
  text-decoration: none;
  color: black;
  font-weight: 500; 

  &:hover {
    color: orange;
    transition: .3s;
  }
}

.div-autor{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e1ce8a;
  border-radius: 1rem;
  padding: 1rem;  
  margin: 1rem 0 0 0;

  p {
    margin: 0.5rem 0;
    text-align: center;
    text-decoration: none;
    font-size: .9rem;
    font-weight: 400;
  }
}