* {
  margin: 0;
  padding: 0;
  text-align: center;
}

.div-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #e1ce8a;
}

.div-header {
  border-radius: 1rem;
  width: 95vw;
  margin-top: .5rem;
  height: 25vh;
  background-image: url(../src/assets/img/ilus01.png);
  background-size: cover;
  background-position: center;
  box-shadow: 2px 2px 5px gray;
}

.list-container {
  background-image: url(../src/assets/img/ilus02.png);
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
  width: 92vw;
  height: 70vh;
  overflow-x: hidden;
  margin-bottom: 1rem;
  box-shadow: 2px 2px 5px gray;
}

.card-medicines{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: .1rem;
  background: rgba(255, 255, 255, 0.30);
  backdrop-filter: blur(8.8px);
  -webkit-backdrop-filter: blur(8.8px);
  width: 85vw;
  height: 1.9rem;
  border-radius: 1rem 1rem 0.5rem 0.5rem;
  overflow: hidden;


}
.card-medicines:hover {
  background: rgba(255, 255, 255, 0.30);
  width: 85vw;
  transition: 0.5s;
  height: 15rem;
  border-radius: 1rem 1rem 0.5rem 0.5rem;

  .name{
    font-weight: 700;
  }
}

.inf-medicines{
  overflow: hidden;
  background: rgba(255, 255, 255, .5);
  width: 100%;
  height: 100%;
  border-radius: 1rem 1rem 0rem 0rem;
  box-shadow: inset rgba(9, 30, 66, 0.08) 0px 0px 0px 1px, inset rgba(9, 30, 66, 0.25) 0px 4px 8px -2px;
  text-transform: uppercase;
}

.div-list{
  padding-bottom: 10rem;
}
.inf-detal{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  p{
    width: 7rem;
    text-align: left;
  }
}

p.name {
  margin-bottom: 1rem;
  text-transform: capitalize;
}

.div-title {
  height: 7vh;
  border-radius: .5rem;
  margin-bottom: 2rem;
  margin-top: .7rem;
  align-items: center;
  display: flex;
  justify-content: center;

  h1 {
    font-size: 2.8rem;
    color: white;
    text-shadow: 2px 2px 5px gray;
  }
}

.div-update {
  font-size: .7rem;
  text-transform: uppercase;
  color: white;
  background-color: rgb(255, 113, 93);
  border-radius: .9rem .9rem 0rem 0rem;
  margin: .1rem;
  margin-bottom: .5rem;
}


.inf-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1rem;
}

.false-span-info{
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  background-color: rgba(255, 255, 255, .5);
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover{
    background-color: black;
     svg {
      fill: black;
      width: 100%;
      height: 100%;
      transition: .3s;

    &:hover {
      fill: orange;
    }
  }
  }
}

.true-span-info{
  display: none;
}

.span-info{
  position: absolute;
  top: 4.2rem;
  right: 2.5rem;
  background-color: rgba(255, 255, 255, .2);
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover{
    background-color: black;
     svg {
      fill: black;
      width: 100%;
      height: 100%;
      transition: .3s;

    &:hover {
      fill: orange;
    }
  }
  }
}

ul{
  position: absolute;
  right: 0;
  height: 100vh;
  width: 100%;
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(.5rem);
  -webkit-backdrop-filter: blur(1rem);
  transform: translateX(100%);
  transition: .3s;

  display: flex;
  justify-content: center;
  align-items: center;
}

.active{
  transform: translateX(0);
}


.div-menu{
  width: 80%;
  height: 80%;
  border-radius: 1rem;
  background: url(../src/assets/img/ilus02.png);
  background-size: cover;
  background-position: center;
}

.loader{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url(../src/assets/img/ilus01.png);
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .git-img{
    width: 40%;
  }
}

.div-inf-gif{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  height: 15rem;
  width: 15rem;
}

.loader-text {
            font-size: 1.9rem;
            font-weight: 300;
            overflow: hidden;
            display: flex;
        }
        .char {
            display: inline-block;
            transform: translateY(100%);
            animation: reveal 1.2s cubic-bezier(0.77, 0, 0.175, 1) forwards;
        }
        .char:nth-child(1) { animation-delay: 0.2s; }
        .char:nth-child(2) { animation-delay: 0.3s; }
        .char:nth-child(3) { animation-delay: 0.4s; }
        .char:nth-child(4) { animation-delay: 0.5s; }
        .char:nth-child(5) { animation-delay: 0.6s; }


        .space-char{
          margin-left: .5rem;
        }

        @keyframes reveal {
            0% {
                transform: translateY(100%);
            }
            100% {
                transform: translateY(0);
            }
        }

.text-h3{
  width: 70%;
  h3{
    text-transform: uppercase;
    font-size: 1rem;
    font-family: "Instrument Sans", sans-serif;
    font-weight: 700;
    
  }
}


.true {
  width: 5rem;
  height: 2rem;
  position: relative;
  display: block;
  background-color: rgba(255, 255, 255, 0.623);
  border-radius: 2rem;
  box-shadow: inset rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, inset rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.false {
  width: 5rem;
  height: 2rem;
  position: relative;
  display: block;
  background-color: rgba(255, 255, 255, 0.623);
  border-radius: 2rem;
  box-shadow: inset rgba(9, 30, 66, 0.08) 0px 0px 0px 1px, inset rgba(9, 30, 66, 0.25) 0px 4px 8px -2px;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.true-theme {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  background-color: black;
  position: relative;
  left: -1.5rem;
  transition: 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;

  .true-icon {
    color: white;
    height: 80%;

    &:hover {
      color: orange;
    }
  }

  .false-icon {
    display: none;
  }
}

.false-theme {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  background-color: black;
  position: relative;
  left: 1.5rem;
  transition: 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;

  .false-icon {
    color: white;
    height: 80%;

    &:hover {
      color: orange;
    }
  }

  .true-icon {
    display: none;
  }
}


.div-container-search {
  width: 80vw;
  margin: auto;
  display: flex;
  border-radius: 1rem 1rem 0.5rem 0.5rem;
  border: none;
  height: 2rem;
  gap: .5rem;
  background-color: rgba(255, 255, 255, 0.767);

  svg {
    margin-left: .5rem;
    margin-top: .3rem;
    fill: black;
  }
}

.div-container-search:hover {
  width: 85vw;
  background-color: rgba(255, 255, 255, 1);
  transition: 0.5s;
}

.input-search {
  border: none;
  text-align: left;
  background-color: transparent;
  font-weight: 500;
}

.input-search:focus {
  outline: none;
  border: none;
  /* border: 1px solid #4A90E2;  */
  /* color: #4A90E2; */
}



@media screen and (min-width: 700px) {
}